.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: auto;
}
.noBar::-webkit-scrollbar {
  display: none;
}

.withBar::-webkit-scrollbar {
  display: block;
}

.discount-bg {
  background: var(--primaryGold) 75% / cover no-repeat;

  /* Product Image/S */
  box-shadow: 0px 20px 40px 0px rgba(40, 40, 40, 0.04), 0px 4px 10px 0px rgba(40, 40, 40, 0.08),
    2px 2px 10px 0px rgba(236, 214, 181, 0.3) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.25) inset;
}
