.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  /* background: linear-gradient(to right, #8d7a5b 0%, #8d7a5b 50%, rgba(141,122,91,0.2) 50%, rgba(141,122,91,0.2) 100%); */
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: background 450ms ease-in;
}

/* .slider::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  color: #8d7a5b;
  border-radius: 5px;
  height: 15px;
  outline: none;
  width: 100%;
  /* height:15px; */
/* outline: none; */
/* margin-top: -1px; */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: #8d7a5b solid 12px;
  cursor: ew-resize;
  /* box-shadow: -400px 0 0 407px #8d7a5b; */
}

@media screen and (max-width: 768px) {
  .slider {
    height: 8px;
  }
  .slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    border: #8d7a5b solid 9px;
  }
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: #8d7a5b solid 12px;
  cursor: pointer;
  /* box-shadow: #8d7a5b; */
}
