@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== Page Layout ==================== */

@layer components {
  .login-layout-wrapper {
    @apply mx-auto mt-[4rem] w-full max-w-full px-4 sm:top-1/2 sm:mt-0 sm:max-w-[420px]  lg:my-[6rem] lg:flex lg:h-[480px] lg:max-w-[950px] lg:flex-row lg:px-0 2xl:h-[500px];
  }

  .registration-layout-wrapper {
    @apply mx-auto mt-[1rem] w-full max-w-full gap-[30px] px-4 sm:top-1/2 sm:mt-0 sm:max-w-[420px]  lg:my-[6rem] lg:flex lg:h-fit  lg:max-w-[968px] lg:flex-row lg:px-0;
  }

  .registrationContainer {
    @apply flex  h-full flex-col items-center justify-start gap-[2rem] py-[2.5rem] sm:mt-[51px] sm:rounded-[30px] lg:mt-0 lg:min-h-[514px] lg:w-1/2 lg:gap-0 lg:bg-white lg:py-[4rem];

    h1 {
      @apply text-center text-22 font-semibold leading-5 text-primaryGold lg:text-24 xl:font-medium;
    }
  }

  .loginFirstContainer {
    @apply flex h-[500px] flex-col items-center justify-center gap-[2rem] sm:mt-[51px] sm:rounded-[30px] lg:mt-0 lg:h-[480px] lg:w-1/2 lg:bg-white 2xl:h-[500px];
  }

  .loginSecondContainer {
    @apply flex flex-col items-center gap-6 rounded-[30px];

    img {
      @apply h-auto w-[100px] lg:block lg:w-[80px];
    }

    h1 {
      @apply text-center text-26 font-semibold leading-5 text-primaryGold sm:text-24 lg:text-26 xl:font-medium;
    }
  }

  .loginOtpFormContainer {
    @apply flex w-full flex-col gap-7;
  }

  .otpFormContainer {
    @apply flex w-full flex-col gap-7 xl:gap-9;
  }

  .otpFormContainer > div {
    @apply w-full lg:px-12;
  }

  .otpContainer {
    @apply mt-9 flex w-full flex-col gap-1 lg:mt-0;
  }

  .labelTextLayout {
    @apply flex items-center gap-2 font-semibold text-primaryGold;

    div {
      @apply flex gap-1 text-16;
    }
  }

  .otpInputFormContainer {
    @apply relative flex w-full flex-col items-center justify-center;
  }

  .OtpInputContainer {
    @apply flex flex-col gap-[11px] pt-4 font-semibold text-primaryGold;

    form {
      @apply flex w-full flex-col items-center justify-evenly gap-2 lg:gap-3;

      div {
        @apply flex w-full items-center justify-between;
      }
    }
  }
  .otpFormSelect {
    @apply absolute left-0 h-[52px] w-[6rem] items-center rounded-l-full border-l-[1px] border-r-0 border-primaryGold bg-transparent bg-[length:14.5px_7px] pl-[15px] pr-[25px] text-16 font-semibold  focus:border-primaryGold focus:outline-none focus:ring-0 focus:ring-primaryGold;
  }

  .otpFormInput {
    @apply h-[52px] w-full rounded-full border-l-0 border-primaryGold bg-transparent pl-[6.5rem] text-16 font-semibold  leading-6 placeholder-primaryGold placeholder-opacity-40 placeholder:font-medium focus:border-primaryGold  focus:outline-none focus:ring-1 focus:ring-primaryGold;
  }

  .otpFormBtn {
    @apply absolute right-[-59px]  top-1/2 h-[50px] w-[120px] -translate-x-1/2 -translate-y-1/2 transform rounded-full text-16 font-medium leading-5;
  }

  .otpFormErrorMsgContainer {
    @apply flex items-start pb-1  lg:gap-1;
  }

  .otpFormErrorMsg {
    @apply h-auto self-center xl:w-[16px];
  }

  .otpFormBtnActivate {
    @apply border-primaryGold bg-primaryGold text-white;
  }

  .otpFormBtnDeactivate {
    @apply border-primaryGold15 bg-primaryGold15 text-white;
  }

  .otpFormBtnDisable {
    @apply border-0 bg-primaryGold bg-opacity-20 text-white;
  }

  /* ==================== OTP Input ==================== */

  .otpInput {
    @apply h-[60px] w-[50px] rounded-[15px] border-[1px] border-primaryGold  bg-transparent p-[10px] text-center text-16 font-bold text-primaryDark sm:h-[60px] sm:w-[50px] lg:h-[60px] lg:w-[50px] xl:text-20;
  }

  .otpInputErrorFocus {
    @apply border-primaryPurple focus:border-primaryPurple focus:outline-none focus:ring-1 focus:ring-primaryPurple;
  }

  .otpFocus {
    @apply focus:border-primaryGold focus:outline-none focus:ring-1 focus:ring-primaryGold;
  }

  .otpNextButtonDesktop {
    @apply mt-4 w-full rounded-full py-4 text-16 font-medium;
  }

  .otpNextButtonMobile {
    @apply w-full rounded-full py-4 text-16 font-medium;
  }

  .otpNextButtonActivate {
    @apply bg-primaryGold text-white;
  }

  .otpNextButtonDeactivate {
    @apply bg-primaryGold15 text-primaryGold;
  }

  /* ==================== Auth Progressbar ==================== */

  .authProgressbarContainer {
    @apply relative flex items-center justify-start;
  }

  .authProgressbar-list {
    @apply relative after:absolute after:right-0 after:top-1/2 after:h-px after:w-8 after:-translate-y-1/2 after:bg-primaryGold after:content-[''] after:last-of-type:hidden;

    div {
      @apply relative mr-8 flex h-8 items-center justify-center rounded-full border-primaryGold bg-transparent sm:h-9 lg:h-[2.389vw];

      p {
        @apply ml-7 pl-[0.67vw] pr-[1.25vw] text-16 font-medium leading-4 text-primaryGold sm:ml-9 lg:ml-[2.389vw];
      }
    }
  }

  .placeholderSizeBig::placeholder {
    @apply text-19;
  }

  .placeholderFontWeight400::placeholder {
    @apply font-[400];
  }

  .popup-scrollbar {
    @apply overflow-y-scroll;
  }

  .popup-scrollbar::-webkit-scrollbar {
    @apply w-[4px] rounded-[20px];
  }

  .popup-scrollbar::-webkit-scrollbar-track {
    @apply rounded-[20px] bg-[#31210833];
  }

  .popup-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[10px] bg-[#8d7a5b];
  }

  .inputBG:-webkit-autofill .inputBG:-webkit-autofill:focus {
    @apply bg-[#8d7a5b] opacity-30;
  }

  /* =========== Register Info =========== */
  .registerInfoContainer {
    @apply flex w-full max-w-full flex-col px-4 sm:mx-auto sm:max-w-[400px] md:max-w-[600px]  lg:max-w-[1140px] lg:flex-row lg:gap-[2rem] lg:px-0 lg:py-[48px];
  }

  .registerInfoFormContainer {
    @apply flex flex-col items-center sm:rounded-[24px] sm:pb-10 lg:mt-0 lg:h-fit lg:w-[50%] lg:bg-white xl:h-fit;

    section {
      @apply mb-56 flex w-full flex-col  md:px-24 lg:mb-7 lg:px-[30px]  2xl:px-[40px];
    }
  }

  .registerInfoFormGreeting {
    @apply mb-7 flex flex-col gap-[20px];

    h1 {
      @apply text-center text-25 font-semibold leading-8 text-primaryGold lg:text-left xl:text-26;
    }

    p {
      @apply text-14 font-normal leading-6  xl:text-16;
    }
  }

  .registerInfoForm {
    @apply flex w-full flex-col gap-9 lg:mb-0;
  }

  .registerInfoFormNamesContainer {
    @apply flex flex-col lg:flex-row lg:gap-9;
  }

  .registerInfoFormSelectsContainer {
    @apply gap-9;
  }

  .registerInfoFormRegionAndDistrictContainer {
    @apply mt-9 gap-3;
  }

  .registerInfoFormWebButtonsContainer {
    @apply hidden md:flex;
  }

  .registerInfoFormMobileButtonsContainer {
    @apply flex w-full gap-3;
  }

  .registerInfoFormGoBackBtn {
    @apply flex h-[53px] w-[30%]  items-center  justify-center rounded-full  text-center text-primaryGold    xl:text-20;
  }

  .registerInfoFormSubmitBtn {
    @apply flex h-[53px] w-[70%] items-center justify-center rounded-full  text-center  font-medium  xl:text-20;
  }

  /* =========== Pending =========== */
  .registerPendingContainer {
    @apply mx-auto mb-[60px] h-fit w-full max-w-full px-4  sm:mb-[70px] md:mt-[48px]  md:max-w-[500px] md:rounded-[24px] md:bg-white md:shadow-lg lg:max-w-[600px] 2xl:max-w-[650px];
  }

  .registerPendingSecondContainer {
    @apply flex flex-col items-center justify-center pt-6 sm:py-7;
  }

  .registerPendingPlaceholderImg {
    @apply block h-auto w-[100px] object-center  xl:w-[130px];
  }

  .registerPendingAppStore {
    @apply h-auto w-[137px] xl:w-[200px];
  }

  .registerPendingGooglePlay {
    @apply h-auto w-[155px]  xl:w-[220px];
  }

  .registerPendingMobileLink {
    @apply mx-auto block max-w-[381px] rounded-full bg-primaryGold py-[20px] text-center text-18 font-semibold  leading-5 text-white lg:max-w-[481px] lg:py-4  xl:text-20;
  }
}

@layer utilities {
  .otpInputPrefix {
    @apply block text-18 font-semibold text-primaryGold3 xl:text-22;
  }

  .otpWarningMsgContainer {
    @apply flex gap-[35px];

    img {
      @apply h-auto self-center xl:w-[16px];
    }

    span {
      @apply ml-[-26px] block text-primaryPurple;
    }
  }

  .contactUs {
    @apply pb-0 pt-2 text-left text-11 md:text-12;

    button {
      @apply pl-[4px] underline focus:outline-none focus:ring-2 focus:ring-primaryGold focus:ring-offset-2;
    }
  }

  /* =========== Register Info =========== */
  .registerInfoFormSubmitDeactivate {
    @apply bg-primaryGold15 text-primaryGold;
  }

  .registerInfoFromSubmitActivate {
    @apply bg-primaryGold text-white;
  }

  /* =========== Pending =========== */
  .registerPendingImageContainer {
    @apply mb-6 mt-4 flex h-[75px] w-[75px] items-center justify-center rounded-full bg-secondaryLightGold2 sm:h-[90px] sm:w-[90px];

    img {
      @apply block h-auto w-9 self-center sm:w-11;
    }
  }

  .registerPendingTextsContainer {
    @apply mb-[40px] flex w-full max-w-md flex-col items-center text-center xl:mb-8 xl:max-w-[525px];

    h1 {
      @apply mb-9 mt-3 text-24 font-semibold leading-5 text-primaryGold lg:text-26 2xl:text-28;
    }

    p,
    a {
      @apply text-16 leading-6  xl:leading-7;
    }
  }

  .registerPendingImgsContainer {
    @apply mb-10 flex gap-[20px];

    div {
      @apply flex flex-col items-center gap-[18px];
    }
  }

  /* =========== Submit =========== */
  .registerSubmitContainer {
    @apply mx-auto mb-[60px] h-fit max-w-full px-[16px] pb-[7rem] sm:mb-[70px] sm:max-w-[450px] md:mt-[48px] md:max-w-[600px] md:rounded-[24px] md:bg-white md:px-[50px] md:pb-0 md:shadow-lg xl:max-w-[650px];
  }

  .registerSubmitContentContainer {
    @apply flex flex-col items-center justify-center sm:pb-11 sm:pt-[30px] md:pb-0;
  }

  .registerSubmitEmailIcon {
    @apply mb-6 flex h-[80px] w-[80px] items-center justify-center rounded-full bg-secondaryLightGold2 sm:h-[100px] sm:w-[100px] xl:mb-[38px] xl:mt-6 xl:h-[100px] xl:w-[100px];

    img {
      @apply block h-auto w-8  sm:w-[50px];
    }
  }

  .registerSubmitTextsContainer {
    @apply w-full text-center md:max-w-[400px] lg:mb-5 xl:max-w-[500px];

    h1 {
      @apply mb-6 text-25 font-semibold  leading-6 text-primaryGold;
    }

    .registerSubmitTexxPleaseCheck {
      @apply mb-[26px] text-16 leading-6 md:text-18 xl:text-20 2xl:mx-auto;
    }

    .registerSubmitContact {
      @apply mb-[10px] text-16 leading-5 md:text-18 xl:text-20;

      a {
        @apply mb-4 leading-5 underline;
      }
    }
  }

  .registerSubmitPromotionImgContainer {
    @apply w-full md:max-w-[400px] xl:max-w-[460px];

    div {
      @apply hidden w-full md:block;

      a {
        @apply mx-auto my-9 block rounded-full bg-primaryGold py-4 text-center text-18  text-white;
      }
    }
  }

  .registerSubmitMobileLink {
    @apply mx-auto block rounded-full bg-primaryGold py-4 text-center text-18 font-medium  leading-5 text-white md:mt-4 md:max-w-[90%] md:text-20 lg:max-w-[70%] xl:max-w-[70%] xl:text-24 2xl:max-w-[78%];
  }
}

/* GET OTP */
input[type="submit"] {
  margin-left: -160px;
  height: 66px;
  width: 162px;
  background: #d1cabd;
  color: #8d7a5b;
  border-radius: 50px;
  border: 1px solid;
  border: 0;
  -webkit-appearance: none;
}
